<div class="container-fluid">
    <form action="#" #searchForm="ngForm" class="form-horizontal">
        <div class="row">
            <div class="col-xs-12" style="margin-top:40px">
                <div class="panel panel-default">
                    <div class="panel-heading"><span ><i class="fa fa-plane fa-2x"></i></span><strong class="font-large">&nbsp;&nbsp;Search Offer Deals </strong></div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-xs-3">
                                <label for="destination">Destination</label>
                                <input class="form-control" #places id="destination" name="destination" [(ngModel)]="model.destinationCity" type="text" />
                            </div>
                            <div class="col-xs-3">
                                <label for="lengthOfStay">Length of Stay</label>
                                <input class="form-control" id="lengthOfStay" name="lengthOfStay" [(ngModel)]="model.lengthOfStay" type="number" />
                            </div>
                            <div class="col-xs-3">
                                <label for="minStarRating">Min Star Rate</label>
                                <select [(ngModel)]="model.minStarRating" class="form-control" name="minStarRating">
                                    <option [value]="null">-- select --</option>
                                    <option *ngFor="let number of [0,1,2,3,4,5]" [value]="number">{{number}}</option>
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <label for="maxStarRating">Max Star Rate</label>
                                <select [(ngModel)]="model.maxStarRating" class="form-control" name="maxStarRating">
                                    <option [value]="null">-- select --</option>
                                    <option *ngFor="let number of [0,1,2,3,4,5]" [value]="number">{{number}}</option>
                                </select>

                            </div>
                           

                        </div>
                        <div class="form-group row">
                            <div class="col-xs-3">
                                <label for="maxTripStartDate">Max Trip Start Date</label>
                                <input class="form-control" id="maxTripStartDate" name="maxTripStartDate" [(ngModel)]="model.maxTripStartDate" type="date"
                                />
                            </div>
                            <div class="col-xs-3">
                                <label for="minTripStartDate">Min Trip Start Date</label>
                                <input class="form-control" id="minTripStartDate" name="minTripStartDate" [(ngModel)]="model.minTripStartDate" type="date"
                                />
                            </div>
                            <div class="col-xs-3">
                                <label for="minGuestRating">Min Guest Rating</label>
                                <select [(ngModel)]="model.minGuestRating" class="form-control" name="minGuestRating">
                                    <option [value]="null">-- select --</option>
                                    <option *ngFor="let number of [0,1,2,3,4,5]" [value]="number">{{number}}</option>
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <label for="maxGuestRating">Max Guest Rating</label>
                                <select [(ngModel)]="model.maxGuestRating" class="form-control" name="maxGuestRating">
                                    <option [value]="null">-- select --</option>
                                    <option *ngFor="let number of [0,1,2,3,4,5]" [value]="number">{{number}}</option>
                                </select>
                            </div>
                        
                        </div>
                        <div class="row">
                            <div class="btn-search">
                                <button id="btnSearch" name="btnSearch" (click)="search()" class="btn btn-primary">
                                    <i class="icon-search4 position-right"></i> Search</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container-fluid">
                                <p-dataList [value]="offers.Hotel" [paginator]="true" [rows]="5">
                                    <p-header>
                                        <strong>List of Hotels</strong>
                                    </p-header>
                                    <ng-template let-offer pTemplate="item">
                                        <div class="ui-g ui-fluid hotel-item">
                                            <div class="ui-g-12 ui-md-3" style="text-align:center">
                                                <img style="margin-top:20px" src="{{offer.hotelInfo.hotelImageUrl}}">
                                            </div>
                                            <div class="ui-g-12 ui-md-9">
                                                <div class="ui-g">
                                                    <div class="ui-g-2 ui-sm-6">Location: </div>
                                                    <div class="ui-g-10 ui-sm-6">
                                                        <small class="text-uppercase text-extra-small">
                                                            <a class="text-grey-4" href="#">
                                                                <i class="fa fa-map-marker margin-right-5px"></i>
                                                                <span class="text-third-color margin-right-5px">{{offer.destination.country}}</span> {{offer.destination.shortName}}</a>
                                                        </small>
                                                    </div>
                                                    <div class="ui-g-2 ui-sm-6">Hotel Name: </div>
                                                    <div class="ui-g-10 ui-sm-6">{{offer.hotelInfo.hotelName}}</div>
                                                    <div class="ui-g-2 ui-sm-6">Price: </div>
                                                    <div class="ui-g-10 ui-sm-6">
                                                        <strong class="text-medium text-third-color padding-right-5px font-weight-bold">{{offer.hotelPricingInfo.totalPriceValue}} {{offer.hotelPricingInfo.currency}}</strong>Person
                                                    </div>
                                                    <div class="ui-g-2 ui-sm-6">Rating: </div>
                                                    <div class="ui-g-10 ui-sm-6">
                                                        <div class="rating">
                                                            <ul class="no-margin-left">
                                                                <li [ngClass]="{'active' : offer.hotelInfo.hotelStarRating > 0 }"></li>
                                                                <li [ngClass]="{'active' : offer.hotelInfo.hotelStarRating >= 2 }"></li>
                                                                <li [ngClass]="{'active' : offer.hotelInfo.hotelStarRating >= 3 }"></li>
                                                                <li [ngClass]="{'active' : offer.hotelInfo.hotelStarRating >= 4 }"></li>
                                                                <li [ngClass]="{'active' : offer.hotelInfo.hotelStarRating >= 5 }"></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-dataList>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
  
</div>